@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(211, 207, 207);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "karla", Arial, Helvetica, sans-serif;
}
.container {
  width: 350px;
  background-color: white;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
  border-radius: 6px;
  position: relative;
}
.container,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  width: 100%;
  gap: 1rem;
  overflow: hidden;
}
.ip {
  width: 40px;
  height: 40px;
  justify-content: space-around;
}
input {
  background-color: rgba(235, 224, 224, 0.753);
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
  font-weight: 550;
  border-radius: 6px;
}
input:focus {
  outline: none;
}
.btn {
  width: 100%;
}
button {
  width: 90%;
  padding: 12px 0px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 550;
  text-transform: capitalize;
  animation: 1.4s ease-in;
}
button:hover {
  background-color: rgb(231, 9, 9);
}
button:active {
  transform: scale(0.98);
}
#detail {
  font-size: 15px;
  font-weight: 550;
}
#resend {
  color: red;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
}
#codereceive {
  font-size: 18px;
  font-weight: 600;
}
i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.time {
  font-size: 14px;
  font-weight: 550;
}
@media (max-width: 400px) {
  .container {
    width: 90%;
  }
  #detail {
    font-size: 12px;
    font-weight: 550;
  }
}
